
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, black,darkblue,lightgreen,maroon,black);
}
h1{ 
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px gold;
    margin-bottom: 10px;
    border-bottom: 2px solid gold;
    box-shadow: 0px 2px 10px blue;
    border-radius: 50%;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.349);
}
h1 ion-icon{
    color: rgba(255, 217, 0, 0.644);
    background-image: url(lollipop_3GIF.gif);
    background-position: center;
    background-size: cover;
}
h3{ 
    color: darkgray;
    text-shadow: 0px 2px 2px darkblue;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    opacity: 90%;
}
h3 ion-icon{
    color: rgba(255, 217, 0, 0.637);
}
form{
    background-color: rgba(0, 0, 0, 0.247);
    text-align: center;
    color: rgb(255, 241, 176);
    text-shadow: 1px 2px 2px black;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 365px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    height: auto;
    border: 6px solid rgba(255, 0, 140, 0.479);
    border-radius: 30px;
    box-shadow: 0px 2px 20px gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2rem;
    border: 2px solid (0, 0, 0, 0.8);
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    text-shadow: 2px 2px 2px gold;
}
#result ion-icon{
    font-size: 30px;
    color: rgba(255, 217, 0, 0.699);
}
#result{
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px gold;
    background-color: rgba(0, 0, 0, 0.589);
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
}

button{
    margin-bottom: 20px;
    padding: 10px 10px;
    width: 30%;
    background-color: black;
    color: white;
    text-shadow: 2px 2px 4px lightblue;
    font-weight: bold;
    background-image: url(lollipop_3GIF.gif);
    background-position: center;
    background-size: cover;
    border: 2px solid rgba(218, 24, 201, 0.651);
    box-shadow: 0px 2px 10px lightcoral;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}
button:hover{
    background-color: darkblue;
    box-shadow: 0px 2px 10px gold;
}
.homebtn{
    border-bottom: 2px solid gold;
    box-shadow: 0px 2px 6px blue;
    background-image: url(MusicGig.gif);
    background-position: center;
    background-size: 50%;
    border-radius: 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 0% auto;
    padding: 3px 10px;

  }
  .homebtn ion-icon{
    color: rgba(255, 217, 0, 0.568);
    justify-content: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 0% auto;
  }
  .homebtn ion-icon:hover{
    color: gold;
  }
  .homebtn:hover{
    color: gold;
    transition: color 0.5s ease;
    box-shadow: 2px 2px 20px gold;
    transform: scale(1.10);
    transition: 0.5s;
    cursor: pointer;

  }
